* {
    box-sizing: border-box;
}

.container {
    background-color: red;
    border: 3px solid black;
    border-radius: 25px;
    margin-top: 10px;
    min-height: 100px;
    padding: 20px;
}

#everything-container {
    background-color: bisque;
    margin: 0 auto;
    min-height: 300px;
    position: relative;
    top: 75px;
    width: 800px;
}

#create-timer-container {
    display: flex;
    height: 100px;
    position: relative;
}

#create-timer-input {
    border-radius: 25px;
    height: 30px;
    left: 200px;
    outline: none;
    padding: 10px;
    position: absolute;
    top: 30%;
    width: 310px;
}

.timer-div {
    background-color: bisque;
    border: 3px solid black;
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
    width: 750px;
}

.timer-activity-header {
    font-size: x-large;
    font-weight: bolder;
    left: 5%;
    overflow-wrap: break-word;
    position: absolute;
    top: 13%;
    word-wrap: break-word;
}

.timer-display {
    display: inline;
    font-size: 40px;
    left: 5%;
    margin: 0;
    position: absolute;
    top: 40%;
}

