.icon-button {
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    left: 10px;
    top: 13%;
}

.icon-button:hover {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    left: 10px;
    top: 13%;
}

.icon-button:active {
    background-color: transparent;
    border: none;
    font-size: 13px;
    cursor: pointer;
    outline: none;
    position: absolute;
    left: 10px;
    top: 13%;
}

#create-timer-button {
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 195px;
    top: 31.25%;
}

#create-timer-button:hover {
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 195px;
    top: 31.25%;
}

#create-timer-button:active {
    border: none;
    border-radius: 1000px;
    font-size: 12px;
    outline: none;
    position: absolute;
    right: 195px;
    top: 31.25%;
}

.generic-button {
    background-color: bisque;
    border: none;
}

.timer-button {
    background-color: bisque;
    left: 550px;
    outline: none;
    position: absolute;
}

.timer-button:hover {
    left: 550px;
    cursor: pointer;
    position: absolute;
}

.timer-button:active {
    left: 550px;
    font-size: 13px;
    position: absolute;
}

.delete-button {
    position: absolute;
    left: 710px;
    top: 60px;
}

.delete-button:hover {
    cursor: pointer;
    position: absolute;
    left: 710px;
    top: 60px;
}

.edit-button {
    background-color: bisque;
    position: absolute;
    left: 710px;
    top: 25px;
}

.edit-button:hover {
    background-color: bisque;
    cursor: pointer;
    position: absolute;
    left: 710px;
    top: 25px;
}

.icon-button:hover {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    left: 10px;
    top: 13%;
}

.icon-button:active {
    background-color: transparent;
    border: none;
    font-size: 13px;
    cursor: pointer;
    outline: none;
    position: absolute;
    left: 10px;
    top: 13%;
}

#info-button {
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 80px;
    top: 33%;
}

#info-button:hover {
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 80px;
    top: 33%;
}

#info-button:active {
    border: none;
    border-radius: 1000px;
    font-size: 12px;
    outline: none;
    position: absolute;
    right: 80px;
    top: 33%;
}